@using Microsoft.AspNetCore.Identity
@inject UserManager<Player> uManager
@model GameMatches
@{
    var game = Model;
}
<div class="game-container" game-id="@game.Game.GameId.ToString()" style="background-image: url('/img/games/@(game.Game.GameId.ToString()).@(game.Game.ImageExtension)">
    <div class="container">
        <h1 class="game-header">@(game.Game.Name)</h1>
        @{
            var matches = game.Matches.Where(m => m.Game.GameId == game.Game.GameId);
            @if (!matches.Any())
            {
                
                <div class="no-game">
                    <h2>No matches yet! Ask an admin to start one!</h2>
                    <h5>List of currently online admins will be displayed here soon</h5>
                </div>
            }
            else
            {
                <div class="match-container">
                    <div class="row">
                        @foreach (var match in matches)
                        {
                            await Html.RenderPartialAsync("_MatchPartial", match);
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>