@using Microsoft.AspNetCore.Identity
@inject UserManager<Player> uManager
@model Match
@{ var match = Model; }
<div match-id="@match.MatchId" class="text-center match-container col-md-4 col-sm-6 col-lg-3 @{ if (match.Players.Count == 10) {@("game-full");}; }" style="background-image: url('/img/games/@(match.Map.MapId.ToString()).@(match.Map.ImageExtension)">
    <div class="match-header">
        <h3>@Html.DisplayFor(modelItem => match.Map.Name) - <span class="match-player-count">@Html.DisplayFor(modelItem => match.Players.Count)</span> / 10</h3>
        @if (User.Identity.IsAuthenticated)
        {
            var curUser = uManager.GetUserId(User);

            <a href="/Match/Match?matchId=@match.MatchId" class="go-to-match btn">Go To Match</a>

            if (Guid.Parse(uManager.GetUserId(User)) == match.Admin)
            {
                <button class="end-match btn">End Match</button>
            }
        }
    </div>
    <div class="curPlayers row text-center "></div>
</div>    