@model pickupsv2.Models.SteamPlayer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SteamPlayer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="communityvisibilitystate" class="control-label"></label>
                <input asp-for="communityvisibilitystate" class="form-control" />
                <span asp-validation-for="communityvisibilitystate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profilestate" class="control-label"></label>
                <input asp-for="profilestate" class="form-control" />
                <span asp-validation-for="profilestate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personaname" class="control-label"></label>
                <input asp-for="personaname" class="form-control" />
                <span asp-validation-for="personaname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastlogoff" class="control-label"></label>
                <input asp-for="lastlogoff" class="form-control" />
                <span asp-validation-for="lastlogoff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profileurl" class="control-label"></label>
                <input asp-for="profileurl" class="form-control" />
                <span asp-validation-for="profileurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avatar" class="control-label"></label>
                <input asp-for="avatar" class="form-control" />
                <span asp-validation-for="avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avatarmedium" class="control-label"></label>
                <input asp-for="avatarmedium" class="form-control" />
                <span asp-validation-for="avatarmedium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avatarfull" class="control-label"></label>
                <input asp-for="avatarfull" class="form-control" />
                <span asp-validation-for="avatarfull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personastate" class="control-label"></label>
                <input asp-for="personastate" class="form-control" />
                <span asp-validation-for="personastate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="realname" class="control-label"></label>
                <input asp-for="realname" class="form-control" />
                <span asp-validation-for="realname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primaryclanid" class="control-label"></label>
                <input asp-for="primaryclanid" class="form-control" />
                <span asp-validation-for="primaryclanid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timecreated" class="control-label"></label>
                <input asp-for="timecreated" class="form-control" />
                <span asp-validation-for="timecreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personastateflags" class="control-label"></label>
                <input asp-for="personastateflags" class="form-control" />
                <span asp-validation-for="personastateflags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loccountrycode" class="control-label"></label>
                <input asp-for="loccountrycode" class="form-control" />
                <span asp-validation-for="loccountrycode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locstatecode" class="control-label"></label>
                <input asp-for="locstatecode" class="form-control" />
                <span asp-validation-for="locstatecode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loccityid" class="control-label"></label>
                <input asp-for="loccityid" class="form-control" />
                <span asp-validation-for="loccityid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
