@model Match
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> uManager
@{ var match = Model; }
<div match-id="@match.MatchId" class="row text-center match-container" style="background-image: url('/img/maps/@(match.Map).png');">
    <div class="match-header">
        <h3>@Html.DisplayFor(modelItem => match.Map) - <span class="match-player-count">@Html.DisplayFor(modelItem => match.Players.Count)</span> / 10</h3>
        @if (User.Identity.IsAuthenticated)
        {
            var curUser = uManager.GetUserId(User);
            if (match.Players.Where(p => p.Id == curUser).Count() == 0)
            {
                <button class="join-match btn">Join Match</button>
            }
            else if (match.Players.Count == 10)
            {
                <button class="full-game btn">Game is Full</button>
            }
            else
            {
                <button class="leave-match btn">Leave Match</button>
            }
            if (Guid.Parse(uManager.GetUserId(User)) == match.Admin)
            {
                <button class="end-match btn">End Match</button>
            }
        }
    </div>
    <div class="curPlayers row text-center ">
        
    </div>
</div>