@Model  
<div id="modal-overlay">
    <div id="accept-modal">    
        <!-- Modal Header -->
        <div id="modal-header">
            <h4 class="modal-title">Your match is ready</h4>
        </div>

        <!-- Modal body -->
        <div id="modal-body">
            <button id="accept-match">ACCEPT</button>
            <button id="decline-match">DECLINE<sub>(Like a scrub)</sub></button>
        </div>
    </div>
</div>