@model Home
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> uManager
@{
    ViewData["Title"] = "ZA Pickups";
}

<div id="games-container">
    @foreach (var game in Model.Games)
    {
        var gameMatches = new GameMatches();
        gameMatches.Game = game;
        gameMatches.Matches = Model.Matches.Where(m => m.GameID == game.GameId).ToList();
        await Html.RenderPartialAsync("_GamePartial", gameMatches);
    }
</div>

