@model List<Match>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> uManager
@{
    ViewData["Title"] = "ZA Pickups";
}
<h2>List of current Matches</h2>
@if (User.Identity.IsAuthenticated)
{
    
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="visible-panel" id="create-match-container">
            <h3>You're an admin, how dank! You can do some extra shit</h3>
            <div class="form-group">
                <label for="map-list">Select Map</label>
                <select class="form-control" id="map-list">
                    <option value="Coastal"> Coastal </option>
                    <option value="Liberation"> Liberation </option>
                    <option value="Derailed"> Derailed </option>
                    <option value="Manorhouse V2"> Manorhouse V2 </option>
                    <option value="Savoia"> Savoia </option>
                </select>
            </div>
            <button class="btn btn-success" id="create-new-match">
                Start Pickup!
            </button>
        </div>
    }
    <div id="chat-container">
        <div id="chat-tab">
            <div class="current-chat-tab" id="global-chat">Global</div>
            <div id="match-chat">Match</div>
        </div>
        <div id="chat-window"></div>
        <div id="chat-input">
            <input id="chat-message" type="text" placeholder="Your message" />
            <button id="send-message">send</button>
        </div>
        <div id="chat-toggle">
        </div>
    </div>
    
}

@if (Model.Count == 0)
{
    <h1 class="text-center">No matches yet! Ask an admin to start one!</h1>
    <h5 class="text-center">List of currently online admins will be displayed here soon</h5>
}
else
{
    <div id="matches-container">
        @foreach (var match in Model)
        {
            await Html.RenderPartialAsync("_MatchPartial", match);
        }
    </div>
}
